<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{db_config('appName')}}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/now-ui-kit.css" rel="stylesheet" />
    <link href="/assets/css/home.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>
<script src="/assets/js/home.js"></script>
<script src="/assets/js/now-ui-kit.js" type="text/javascript"></script>
<script src="/assets/js/tether.min.js"></script>
</body>
</html>